ion-title{
    position: relative;
    left: -20px;
}
// ion-row{
//     // border: 2px solid black;
//     box-shadow: 2px 2px 10px rgb(161, 161, 161) inset;
//     border-radius: 8px;
//     margin: 10px 0px;
//     height: 200px;
// }
.small{
    font-size: 12px;
}
.price{
    font-size: 10px;
    color: aqua;
}
.Payable{
margin-right: 50px;
}

  