<ion-header>
  <ion-toolbar>
    <ion-title>Select City</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar animated [(ngModel)]="origin" (ionInput)="filterData($event.detail.value ?? '')"></ion-searchbar>
  <div *ngIf="isOriginSelection">
    <ion-list class="ion-padding">
      <ion-item *ngFor="let data of uniqueOrigins" (click)="selectCity(data)">
        <ion-text>{{data.name}}</ion-text>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="!isOriginSelection">
    <ion-list class="ion-padding">
      <ion-item *ngFor="let data of filteredDestinations" (click)="selectCity(data)">
        <ion-text>{{data.name}}</ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
