<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="end">City</ion-title>
    <ion-icon slot="start" class="ion-padding" (click)="close()" name="arrow-back-outline" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar  animated [(ngModel)]="origin" (ionInput)="filterData($event.detail.value)" ></ion-searchbar>
  <div *ngIf="Ocheck">
    <ion-list class="ion-padding" *ngFor="let data of serviceData" >
      <ion-text >{{data.origin.name}}</ion-text>
    </ion-list>
  </div>
  <div *ngIf="Dcheck">
    <ion-list class="ion-padding" *ngFor="let data of serviceData" >
      <ion-text >{{data.origin.name}}</ion-text>
    </ion-list>
  </div>
 
</ion-content>