<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title"><span>&larr; {{allData[0].origin}}-{{allData[0].destination}} </span>
    </ion-title>
    <img slot="end" (click)="setOpen(true)" class="logo"
      src="https://static.vecteezy.com/system/resources/previews/005/988/959/non_2x/calendar-icon-free-vector.jpg"
      alt="">
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row class="fit">
      <ion-text (click)="filter('Sleeper')" class="filter" id="sleeperTag"><ion-img class="icon" src="https://i.pinimg.com/474x/2c/ba/35/2cba35b487152cfaf21e0327dca97467.jpg" ></ion-img>Sleeper</ion-text>
      <ion-text (click)="filter('Seater')" class="filter" id="seaterTag" ><ion-img class="icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQsQNB9XdPCNyySLQ0VrAmLfyiFWUL33Gcmw&usqp=CAU"></ion-img>Seater</ion-text>
      <ion-text (click)="filter('AC')" class="filter" id="acTag" ><ion-img class="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH73nZDvckMvtGvvKdkrhkCv3NidZwW6EbzA&usqp=CAU" ></ion-img>AC</ion-text>
      <ion-text (click)="filter('Non-Ac')" class="filter" id="nonAcTag"><ion-img class="icon" src="https://cdn-icons-png.flaticon.com/512/512/512967.png" ></ion-img>Non-Ac</ion-text>
      <ion-select placeholder="Filter" [multiple]="true" (ionChange)="changeOption($event)">
        <ion-select-option value="Sleeper">Sleeper</ion-select-option>
        <ion-select-option value="Seater">Seater</ion-select-option>
        <ion-select-option value="AC">AC</ion-select-option>
        <ion-select-option value="Non-Ac">Non-AC</ion-select-option>
      </ion-select>
    </ion-row>

  </ion-grid>
  <!-- <div class="bsr bar-footer bar-positive">
    <button class="button icon ion-home"></button>
  </div> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list *ngFor="let data of tempData">
          <div class="main">
            <ion-row class="arrange pad">
              <ion-col size="9">
                <p>{{data.dep_time}}-{{data.arr_time}} </p>
                <p class="para"> duration {{data.duration}} | {{data.available_seats}} seats left</p>
              </ion-col>
              <ion-col class="price" size="3">
                <p> {{data.discount_percentage}} % off</p>
                <p class="big">&#8377; {{data.discounted_price}}</p>
              </ion-col>
            </ion-row>
            <ion-row class="pad">
              <ion-col size="12">
                <img class="image" src="https://www.morningstartravels.in/m/assets/icon/bus.png" alt=""> {{data.number}}
                <br>
                {{data.bus_type}}
              </ion-col>
             
            </ion-row>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-text *ngIf="noBus" class="ion-margin ion-padding">No buses found</ion-text>
  </ion-grid>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Date & time</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-datetime></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
  <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>