* {
    margin: 0px;
    // padding: 0px;
    box-sizing: border-box;
}

.price {
    align-items: end;
    font-size: 14px;
    display: block;
    justify-content: end;
}

.price>p {
    display: block;
    justify-content: end;
    align-items: end;
    padding: 0px;
}

.arrange {
    display: flex;
    justify-content: space-between;
}

.filterSec>ion-item {
    font-size: 14;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(transparent, green);
    height: 35px;
}

section.active {
    border: 2px solid red;
}

div {
    align-content: center;
    border: 2px solid green($color: #000000);

}

img {
    width: fit-content;
    height: fit-content;

    color: red($color: #000000);
}

.main {

    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 4px 8px green;
    border: 2px solid green;
}

.image {
    width: 15px;
    height: 15px;
}

.para {
    font-size: 15px;
    color: grey;
}

.title {
    font-size: 14px;
    width: fit-content;
    margin: 0px;

}

a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 40px;
    height: 40px;

}

.filter {
    border-radius: 5px;
    padding: 2px 4px;
    margin: 5px;
    border: 2px solid rgb(10, 10, 10);
}

.fit {
    width: fit-content;
    height: fit-content;
}

.fit>ion-text:active {
    color: red;
    border-color: red;
}

.big {
    font-size: 19px;
}

.pad {
    padding: 0px 10px;
}

ion-text:hover {
    color: green;
    border-color: green;
}
.selected {
    color: green;
    border-color: green;
}
