<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Search Buses</ion-title>
    <ion-img src="https://gst-contracts.s3.amazonaws.com/uploads/bcc/cms/asset/avatar/37119/logo.png"
      class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="input-containers">
    <div class="inputs">
      <div class="origin-input">
        <ion-item>
          <ion-icon slot="end" name="bus"></ion-icon>
          <ion-input type="text" id="origin-modal" placeholder="From" (click)="moveOrg()"
            [(ngModel)]="origin"></ion-input>
        </ion-item>
      </div>
      <div class="destination-input">
        <ion-item>
          <ion-icon slot="end" name="bus"></ion-icon>
          <ion-input type="text" id="destination-modal" placeholder="To" (click)="moveDes()"
            [(ngModel)]="destination"></ion-input>
        </ion-item>
      </div>
      <ion-item class="datesec">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-datetime-button class="custom-datetime-button" datetime="datetime"></ion-datetime-button>

        <div class="date-buttons">
          <ion-button size="small" color="primary" fill="clear" (click)="setToday()">Today</ion-button>
          <ion-button size="small" color="primary" fill="clear" (click)="setTomorrow()">Tomorrow</ion-button>
        </div>
      </ion-item>
      <ion-button expand="block" fill="outline" color="success" (click)="Search()">
        Search
      </ion-button>
    </div>
  </div>
  <ion-button class="switch-button" color="medium" fill="clear" (click)="swipe()">
    <ion-icon size="large" name="swap-vertical"></ion-icon>
  </ion-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime" [(ngModel)]="date" presentation="date" value="date" (ionChange)="changeDate($event)"
        [showDefaultButtons]="true"></ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>