<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Dashborad</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item class="features">
        <a href="#">Passengers </a>
      </ion-item>
      <ion-item class="features">
        <a href="#">Board Passengers</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
     
      <ion-title>  <img class="logo" src="https://static.vecteezy.com/system/resources/thumbnails/016/469/320/small/aircraft-airplane-flight-taking-off-plane-logo-vector.jpg" alt=""></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding herotag">
    <img src="https://i.pinimg.com/originals/ec/05/db/ec05dbb5deb17a06d30ee83f7b98d3f5.jpg" alt="">
  <h1>Welcome to Boarding App</h1>
  </ion-content>
</div>